html,
body,
h1,
h2 {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}


body {
  background: url("../image/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  color: #fff;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

body a {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
  text-decoration: none;
}

input[type="button"],
input[type="submit"] {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
}

h1 {
  font-size: 50px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 2px;
  margin: 100px auto;
}

.layoutscontaineragileits {
  width: 75%;
  margin: 0 auto;
}

h2 {
  font-size: 40px;
  font-weight: 100;
  margin-bottom: 30px;
}

a {
  color: white;
  font-size: 16px;
}
a:hover {
  color: green;
  font-size: 16px;
}

input[type="text"],
input[type="password"] {
  width: 140%;
  padding: 15px 10px 15px 50px;
  font-size: 14px;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 5px;
  outline: none;
  margin-bottom: 20px;
  color: #fff;
}

input[type="text"] {
  background: url("../image/user.png") no-repeat 13px 11px;
  background-size: 25px;
}

input[type="password"] {
  background: url("../image/password.png") no-repeat 13px 11px;
  background-size: 25px;
}

ul.agileinfotickwthree {
  list-style: none;
  display: inline-block;
  width: 100%;
  margin-bottom: 30px;
  text-align: left;
  padding-left: 10px;
}

ul.agileinfotickwthree li input[type="checkbox"] {
  display: none;
}

ul.agileinfotickwthree li input[type="checkbox"] + label {
  position: relative;
  padding-left: 30px;
  border: #f0f8ff;
  display: inline-block;
  font-size: 16px;
  color: #eee;
}

ul.agileinfotickwthree li input[type="checkbox"] + label span:first-child {
  width: 17px;
  height: 17px;
  display: inline-block;
  border: 2px solid #eee;
  position: absolute;
  top: -1px;
  left: 0;
  bottom: 4px;
}

ul.agileinfotickwthree
  li
  input[type="checkbox"]:checked
  + label
  span:first-child:before {
  content: "";
  background: url(images/tick.png) no-repeat;
  position: absolute;
  left: 3px;
  top: 3px;
  font-size: 10px;
  width: 10px;
  height: 10px;
}

input[type="submit"] {
  font-size: 16px;
  font-weight: 700;
  padding: 15px 50px;
  background-color: #173148;
  color: white;
  border: none;
  border-radius: 5px;
  outline: none;
  float: left;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #fff;
  color: #173148;
}

.aitssendbuttonw3ls p {
  text-align: right;
  padding-top: 15px;
}

.aitssendbuttonw3ls p a {
  color: #fff;
}

.aitssendbuttonw3ls p a span {
  font-size: 18px;
}

.aitssendbuttonw3ls p a:hover {
  color: #ffeb3b;
}

::-webkit-input-placeholder {
  color: #fff;
}

::-moz-placeholder {
  color: #fff;
}

::-moz-placeholder {
  color: #fff;
}

::-ms-input-placeholder {
  color: #fff;
}

/*-- Index-Page-Styling --*/

/*--- Responsive Code ---*/

@media screen and (max-width: 1440px) {
  .layoutscontaineragileits {
    width: 30%;
  }
}

@media screen and (max-width: 1366px) {
  h1 {
    margin: 75px auto;
  }
  .w3footeragile {
    margin: 100px 10px 20px;
  }
}

@media screen and (max-width: 1280px) {
  .layoutscontaineragileits {
    width: 35%;
  }
}

@media screen and (max-width: 1024px) {
  h1 {
    font-size: 45px;
    margin: 50px auto;
  }
  .layoutscontaineragileits {
    width: 40%;
  }
  .w3footeragile {
    margin: 50px 10px 20px;
  }
}

@media screen and (max-width: 900px) {
  .layoutscontaineragileits {
    width: 42%;
  }
}

@media screen and (max-width: 853px) {
  .layoutscontaineragileits {
    width: 45%;
  }
}

@media screen and (max-width: 800px) {
  .layoutscontaineragileits {
    width: 48%;
  }
}

@media screen and (max-width: 768px) {
  .layoutscontaineragileits {
    width: 50%;
  }
}

@media screen and (max-width: 736px) {
  h1 {
    font-size: 40px;
    margin: 40px auto;
  }
  .layoutscontaineragileits {
    width: 51%;
  }
  h2 {
    font-size: 35px;
  }
  .aitssendbuttonw3ls p {
    padding-top: 13px;
    float: right;
    font-size: 14px;
  }
}

@media screen and (max-width: 667px) {
  .layoutscontaineragileits {
    width: 52%;
  }
}

@media screen and (max-width: 640px) {
  h1 {
    margin: 35px auto;
  }
  .layoutscontaineragileits {
    width: 55%;
  }
}

@media screen and (max-width: 603px) {
  .layoutscontaineragileits {
    width: 56%;
  }
}

@media screen and (max-width: 600px) {
  .layoutscontaineragileits {
    width: 60%;
  }
}

@media screen and (max-width: 568px) {
  h1 {
    font-size: 35px;
    margin: 25px auto;
  }
  h2 {
    font-size: 30px;
  }
  input[type="text"],
  input[type="password"] {
    width: 79%;
    padding: 10px 10px 10px 50px;
    font-size: 13px;
    border: 1px solid #fff;
    border-radius: 4px;
    margin-bottom: 15px;
  }
  input[type="text"] {
    background: url("images/mail.png") no-repeat 13px 8px;
    background-size: 20px;
  }

  input[type="password"] {
    background: url("images/password.png") no-repeat 13px 7px;
    background-size: 20px;
  }
  ul.tick {
    margin-bottom: 20px;
  }
  ul.tick li input[type="checkbox"] + label {
    font-size: 15px;
  }
  ul.tick li input[type="checkbox"] + label span:first-child {
    width: 15px;
    height: 15px;
    top: 0;
    border: 1px solid #eee;
  }
  input[type="submit"] {
    font-size: 15px;
    padding: 10px 40px;
    border-radius: 4px;
  }
  .w3footeragile p {
    font-size: 14px;
  }
}

@media screen and (max-width: 480px) {
  .layoutscontaineragileits {
    width: 65%;
  }
  .aitssendbuttonw3ls {
    text-align: center;
  }
  ul.agileinfotickwthree {
    padding-left: 0;
  }
  input[type="submit"] {
    float: inherit;
    width: 100%;
  }
  .aitssendbuttonw3ls p {
    float: left;
  }
}

@media screen and (max-width: 414px) {
  .layoutscontaineragileits {
    width: 70%;
  }
  input[type="text"],
  input[type="password"] {
    width: 78%;
  }
}

@media screen and (max-width: 384px) {
  h1 {
    letter-spacing: 0;
  }
  .layoutscontaineragileits {
    width: 75%;
  }
}

@media screen and (max-width: 320px) {
  h1 {
    font-size: 32px;
    font-weight: 500;
  }
  h2 {
    font-size: 27px;
  }
  .layoutscontaineragileits {
    width: 85%;
  }
}
